.chart {
  background: var(--bg-light);
  color: var(--font-dark);
  border: 1px solid var(--font-light);
  padding: 2rem 1rem;
  box-sizing: content-box;
  position: relative;
}

.chart-plot {
  position: relative;
  border-bottom: 1px solid var(--font-dark);
}

.chart-y,
.chart-x {
  position: absolute;
  font-size: 9px;
  text-transform: uppercase;
}
.chart-y {
  top: 0.5rem;
  left: 0.25rem;
  transform: rotateZ(-90deg) translateX(-100%);
  transform-origin: left top;
}
.chart-x {
  bottom: 0.25rem;
  right: 0.25rem;
}

.chart-point {
  position: absolute;
  bottom: 0;
  background-color: var(--light);
  border: 1px solid var(--bg-light);
  border-bottom: 0;
  transform: translateX(-50%);
  transition: border-color 0.3s ease-in-out;
}
.chart-point:hover {
  border-color: var(--dark);
  z-index: 2;
}

.chart-value {
  position: absolute;
  bottom: 100%;
  left: 50%;
  font-size: 10px;
  transform: translateX(-50%);
  padding-bottom: 4px;
}

.chart-title {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  padding-top: 4px;
}
.chart-point:hover .chart-title {
  font-weight: bold;
}

.char-point--skipped .chart-value,
.char-point--skipped .chart-title {
  display: none;
}
.char-point--skipped:hover .chart-value {
  display: block;
}
