.table-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 0.25rem;
  width: 100%;
}

.table {
  border-spacing: 0;
}

.table--full-size {
  width: 100%;
}

.table-head th {
  padding: 0 0.5rem 1rem;
  font-size: 13px;
  font-weight: normal;
  line-height: 1rem;
  border-bottom: 1px solid #f3f4f7;
  color: #8d96b2;
  text-align: left;
}
.table-head th:first-child {
  position: sticky;
  left: 0px;
  background-color: var(--bg-white);
}

.table-body tr:nth-child(odd) td {
  background-color: var(--bg-light);
}
.table-body td {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  font-weight: 500;
  color: var(--font);
  background-color: var(--bg-white);
  font-size: 14px;
  line-height: 20px;
  padding-right: 0.5rem;
  border-bottom: 1px solid var(--light);
}
.table-body td:first-child {
  position: sticky;
  left: 0px;
  color: var(--font-semi-light);
}
