.container {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  margin: 0 -10px 2rem;
  display: flex;
}

.col,
.col-12 {
  padding: 0 10px;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .d-sm-hidden {
    display: none;
  }
}

.main {
  flex-grow: 1;
}

.filters {
  margin-bottom: 1rem;
}
