.wrapper {
  max-width: 990px;
  margin: 0 auto;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 0 -10px;
  display: flex;
}

.col,
.col-12 {
  padding: 0 10px;
}

.col-12 {
  width: 100%;
}

.header {
  padding: 1rem 0;
  background-color: var(--bg-white);
  color: var(--font-dark);
}

.main {
  flex-grow: 1;
}

.title {
  margin: 0;
}

.footer {
  padding: 1rem 0;
  background: var(--bg-light);
  color: var(--font-dark);
}
